<ion-header>
  <ion-toolbar>
    <ion-title>Leaderboard</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="explore"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>

    <ion-item class="leaderboard-item">
      <ion-thumbnail item-start style="margin-right: 10px;">
        <img src="assets/images/ber.png">
      </ion-thumbnail>
      <p>
      <span>Bernardo Santos</span>
      <br/>
      Points : 1990</p>
    </ion-item>

    <ion-item class="leaderboard-item">
      <ion-thumbnail item-start style="margin-right: 10px;">
        <img src="assets/images/rohit.png">
      </ion-thumbnail>
      <p>
      <span>Rohit Singh</span>
      <br/>
      Points : 1980</p>
    </ion-item>

    <ion-item class="leaderboard-item">
      <ion-thumbnail item-start style="margin-right: 10px;">
        <img src="assets/images/fran.png">
      </ion-thumbnail>
      <p>
      <span>Francis Jr Marco</span>
      <br/>
      Points : 1780</p>
    </ion-item>

    <ion-item class="leaderboard-item">
      <ion-thumbnail item-start style="margin-right: 10px;">
        <img src="assets/images/pau.png">
      </ion-thumbnail>
       <p>
      <span>Kiat Wee Pau</span>
      <br/>
      Points : 1680</p>
    </ion-item>

    <ion-item class="leaderboard-item">
      <ion-thumbnail item-start style="margin-right: 10px;">
        <img src="assets/images/anony.png">
      </ion-thumbnail>
      <p>
      <span>Vikram Seth</span>
      <br/>
      Points : 1580</p>
    </ion-item>

 	<ion-item class="leaderboard-item">
      <ion-thumbnail item-start style="margin-right: 10px;">
        <img src="assets/images/pau.png">
      </ion-thumbnail>
      <p>
      <span>Yuhai Xue</span>
      <br/>
      Points : 1480</p>
    </ion-item>

    <ion-item class="leaderboard-item">
      <ion-thumbnail item-start style="margin-right: 10px;">
        <img src="assets/images/ber.png">
      </ion-thumbnail>
      <p>
      <span>Serena Tan</span>
      <br/>
      Points : 1250</p>
    </ion-item>

    <ion-item class="leaderboard-item">
      <ion-thumbnail item-start style="margin-right: 10px;">
        <img src="assets/images/fran.png">
      </ion-thumbnail>
      <p>
      <span>Indah Sandiyanti</span>
      <br/>
      Points : 1260</p>
    </ion-item>
    
  </ion-list>
</ion-content>