<ion-slides pager="true">
    <ion-slide>
        <div class="no-challenge-slide-container slide1">
            <div class="challenge-in-numbers-banner">
                <div class="challenge-in-number-item challenge">1 challenge</div>
                <div class="challenge-in-number-item active-days">15 active days</div>
                <div class="challenge-in-number-item period">30 day period</div>
                <div class="challenge-in-number-item steps">10,000 steps</div>
            </div>
            <div class="no-challenge-enroll-container">
                <!--<ion-button color="primary" (click)="enrollNowClicked()">Enroll Now</ion-button>-->
            </div>
        </div>
    </ion-slide>
    <ion-slide>
        <div class="no-challenge-slide-container slide2">
            <div class="capital-growth-banner">
            <div class="capital-growth-banner-inner" >
                Total of <span class="pink-underliner">5% capital growth.</span> 3% to your retirement account and 2% to be donated to your chosen charity when you complete the challenge
                <br/>
                <span class="capital-growth-item cap">capped at $50 per challenge</span><br/>
            </div>
            </div>
            <div class="no-challenge-enroll-container">
                <!--<ion-button color="primary" (click)="enrollNowClicked()">Enroll Now</ion-button>-->
            </div>
        </div>
    </ion-slide>

    <ion-slide>
        <div class="no-challenge-slide-container slide3">
            <div class="donate-banner">
                <div class="donate-banner-inner" >
                    <div class="opaquer">
                    Donate a portion of your capital to your chosen charity when you miss a day in a challenge.
                    <br/>
                    <span class="donate-per-day">2% will be donated per day you missed.</span>
                    </div>
                </div>
            </div>
            <div class="no-challenge-enroll-container">
                <ion-button color="primary" (click)="enrollNowClicked()">Enroll Now</ion-button>
            </div>
        </div>
    </ion-slide>
</ion-slides>