<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" class="tab-nav-item">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-challenge" class="tab-nav-item">
      <ion-icon name="walk"></ion-icon>
      <ion-label>My Challenge</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore" class="tab-nav-item">
      <ion-icon name="planet"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
