.registration-main-container {
  font-family: AvenirNextLTPro-Light;
}

.registration-main-title {
  font-family: AvenirNextLTPro-Light;
}

.your-start-date {
  padding-left: 0px;
  background: #FFFFFF;
  font-size: 25px;
  font-family: AvenirNextLTPro-Light;
  text-align: center;
  border: 1px solid #DEDEDE;
}

.your-capital {
  background: #FFFFFF;
  font-size: 25px;
  font-family: AvenirNextLTPro-Light;
  text-align: center;
  border: 1px solid #DEDEDE;
}

.credit-card-field {
  font-family: AvenirNextLTPro-Light;
  font-size: 14px;
}

.payment-type-label {
  font-family: AvenirNextLTPro-Light;
  color: #878787;
  font-size: 15px;
}

.payment-type-option {
  margin-left: -15px;
}

.charity-pager {
  background: #FAFAFA;
}

.submit-container {
  text-align: center;
  padding-bottom: 10px;
}

.employee-details-label {
  font-family: AvenirNextLTPro-Light;
  font-size: 14px;
  color: #878787;
}

.employee-details-value {
  font-family: AvenirNextLTPro-Light;
  font-size: 14px;
  color: #878787;
}

.employee-detail-card-content {
  padding-left: 10px;
  padding-right: 10px;
}

.charity-card {
  background: #FFFFFF;
}

.charity-card-title {
  text-align: left;
  font-family: AvenirNextLTPro-Light;
}
